@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 61% 34%;
    --primary-foreground: 120 25% 95%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 60 30% 88%;
    --muted-foreground: 240 5% 45%;
    --accent: 39 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 83%;
    --ring: 120 61% 34%;
    --chart-1: 120 61% 34%;
    --chart-2: 39 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 150 15% 5%;
    --foreground: 151 86% 80%;
    --card: 150 15% 9%;
    --card-foreground: 151 86% 80%;
    --popover: 150 15% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 151 86% 80%;
    --primary-foreground: 150 20% 5%;
    --secondary: 150 15% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 150 15% 15%;
    --muted-foreground: 150 10% 65%;
    --accent: 140 70% 70%;
    --accent-foreground: 150 20% 5%;
    --destructive: 5 90% 72%;
    --destructive-foreground: 0 0% 100%;
    --border: 150 15% 20%;
    --input: 150 15% 20%;
    --ring: 151 86% 80%;
    --chart-1: 140 70% 50%;
    --chart-2: 160 50% 50%;
    --chart-3: 180 50% 50%;
    --chart-4: 130 40% 50%;
    --chart-5: 120 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
